# MariaDB server base configuration

[server]
# This should be set in log-basename
#slow_query_log_file           = /var/log/mysql/mysql-slow.log
long_query_time               = 3
log-queries-not-using-indexes
